/* SECTION 1:TITLE */

body{
  font-family: "Montserrat";
}

#title
{

background-color:#ff4c68;
color:white;


}

h1
{
  font-family: "Montserrat";
  font-weight: 900;
  size:3.7rem;
  line-height: 1.5;

}

.container-fluid
{
  padding: 3% 15%;
}


/* navigation bar */

.navbar{

padding:0 0 4.5rem 0;

}


.navbar-brand
{
  font-family:"Ubuntu";
  font-size:2.5rem;
  font-weight:bold;
}

.nav-item{

padding:0 18px;
font-size:1.2rem;

}

/* Download buttons */

.download-button
{
  margin: 5% 3% 5% 0;
}

/* title image */

.title-image
{
  width:60%;
  transform: rotate(22deg);
  position: absolute;
  right:0%;

}

/* Feature Section */

h3
{
  font-family: "Montserrat";
  font-weight: 600;
}

p{
  color:#8f8f8f;
}

#features{
  padding: 7% 15%;
  background-color: white;
  position:relative;
}

.feature-box{
  text-align:center;
  padding:5%;
}

.icon
{
color:#ef8172;
margin-bottom:1rem;
}


.icon:hover{
color:  #ff4c68;
margin-bottom:3rem;
}

/* SECTION 2: TESTIMONIALS */

#testimonials{

  text-align:center;
  background-color: #ef8172;
  color:#fff;
}

h2
{
  font-size:3rem;
  font-family: "Montserrat";
  font-weight:bold;
  line-height: 1.5;

}

.testimonial-image
{
  width:10%;
  border-radius:100%;
  margin:20px;
}

.carousel-item{
  padding:7% 15%;
}

/* SECTION 3: PRESS */

#press
{
  background-color: #ef8172;
  text-align:center;
  padding-bottom:3%;
}

.press-image
{
  width:15%;
  margin: 20px 20px 50px;
}

/* SECTIOM-4: PRICING */

#pricing{
  padding:10%;
  text-align:center;
}

.pricing-col{
  margin-top:3%;
}
